/*estilos dia 1*/
.huno{
    color: #352e5e;
}
.hdos{
    color: #643973;
}

.htres{
    color: #a5498c;
}
.hcuatro{
    color: #fb62a4;
}
.dia{
    color: red;
}
body{
    background-color: rgba(248, 188, 228, 0.74);
}




/*estilos dia 2*/
.dia2{
    background-color: #009cb78a;
}
.h-uno{
    color: #022083;
}
.h-dos{
    color: #f359b3;
}
.name-dos{
    color: #005aa4;
}
.text-center-dos{
    text-align: center;
}
.dia-dos{
    color: rgb(0, 255, 42);
}
.img-center-dos{
    display: block;
    margin: auto;
    background-color: rgba(172, 240, 140, 0.61);

}





/*estilos dia 3*/

/*estilos dia 4*/

/*estilos dia 5*/

/*estilos dia 6*/

/*estilos dia 7*/

/*estilos dia 8*/

