/*estilos dia 1*/
.huno{
    color: #352e5e;
}
.hdos{
    color: #643973;
}

.htres{
    color: #a5498c;
}
.hcuatro{
    color: #fb62a4;
}
.dia{
    color: red;
}
body{
    background-color: rgba(248, 188, 228, 0.74);
}




/*estilos dia 2*/
.dia2{
    background-color: #009cb78a;
}
.h-uno{
    color: #022083;
}
.h-dos{
    color: #f359b3;
}
.name-dos{
    color: #005aa4;
}
.text-center-dos{
    text-align: center;
}
.dia-dos{
    color: rgb(0, 255, 42);
}
.img-center-dos{
    display: block;
    margin: auto;
    background-color: rgba(172, 240, 140, 0.61);

}





/*estilos dia 3*/
.body-tres {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}

.formulario-tres{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    background-color: rgba(236, 255, 127, 0.685);
    height: 50vh;
}
.lottie-tres{
    background-color: rgba(43, 153, 226, 0.747);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-tres{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: rgb(0, 183, 255);
}
.name-tres{
    color: rgb(228, 83, 0);
}
.surname{
    color: rgb(228, 83, 0);
}
.boton1-tres{
    background-color: rgb(82, 114, 255);
    color: white;
    font-style: italic;
}





/* html - tresa */ 



.mitad1-tres{
    background-color: rgb(140, 199, 248);
    height: 50vh;
    text-align: center;
    
}
.mitad2-tres{
    background-color: rgb(180, 248, 149);
    height: 50vh;
    text-align: center;
}

.bienvenida-tres{
    color: rgb(93, 253, 0);
    font-family: 'Delicious Handrawn', cursive;
    font-size: 70px;
}
.dia-tres{
    color: red;
}
.desarrollo-tres{
    color: green;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 40px;
}
.sena-tres{
    color: rgb(0, 17, 255);
    font-family: 'Rock Salt', cursive;
}
.migit-tres{
    color: blue;
    font-family: 'Rock Salt', cursive;
}
.boton2-tres{
    background-color: rgb(255, 82, 82);
    font-style: italic;
    color: white;
}

/*estilos dia 4*/

/*estilos dia 5*/

/*estilos dia 6*/

/*estilos dia 7*/

/*estilos dia 8*/

